body,html{
    height: 100%;
    background-color: rgba(0, 196, 186, 0.205);
}

.register-form{
    background-color: #fff;
    border-radius: 1em!important;
    box-shadow: 10px 9px 12px 0px rgba(0, 196, 186, 0.205);
}


.form-link:hover{
    text-decoration: none;
}

.register-form input{
    background-color: #f0f0f0;
}

.register-form input:focus{
    background-color: #e0e0e0;
}

.register-form-title{
    margin-bottom: 1em;
}

.register-form #logo{
    width: 1em;
}

.register-form button{
    background-color: #00C4BA;
    color:white;
}
.register-form button:hover{
    background-color: rgb(1, 150, 142);
    color: #fafafa;
}

.form-password{
    position: relative;
}

.toggle-visibility{
    position: absolute;
    right: 2em;
    top: 0.6em;
    bottom: auto;
    left: auto;
    z-index: 1;

    cursor: pointer;
}

.form-back-btn{
    background-color: grey!important;
    color:white;
}
.form-back-btn:hover{
    background-color: rgb(94, 94, 94)!important;
    color:white;
}

.card.card-shadow {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.card.card-shadow:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.pointer {
    cursor: pointer;
}
