html,body{
    height: 100%;
}
.header{
    background-color: #00C4BA;
}

.header-brand{
    font-weight: bold;
}
.header-brand:hover{
    font-weight: bold;
    color: white!important;
}

.header-a-element{
    color: white;
}
.header-a-element:hover{
    color: #e0e0e0;
}
.header-btn-element{
    color: #00C4BA;
    font-weight: bold;
}
.header-btn-element:hover{
    color: rgb(0, 160, 152);
    font-weight: bold;
}

.green-text{
    color:#00C4BA!important;
}

#navbar-logo{
    width: 2em;
}

.white-text{
    color:white!important;
}

#navbarUserImage{
    width: 3em;
}

.grey-background{
    background-color: rgba(214, 214, 214);
}

.fill-height {
    flex: 1 1 auto;
}

.profile-picture-container {
    display: inline-block;
    position: relative;
    width: 100%;
}

.profile-picture {
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}
